span{
    font-style:italic;

}span2{
    font-style:italic;
}
span3{
    color: rgb(62, 62, 232);
}span4{
    color:rgb(8, 248, 168);
}span5{
    color:rgb(249, 6, 6);

}span6{
    color:rgb(225, 193, 151)
}span7{
    color:rgb(122, 51, 188)
}span8{
    color:hotpink
}span9{
    color:rgb(141, 233, 202)
}span10{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}span11{
    font-weight: bolder;
}